body {
    font: 400 16px/24px 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items {
    width: 620px;
}

.item {
    min-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px 0px;
    border-radius: 10px;
    margin: 30px 0;
    transition: all .2s;
    cursor: pointer;
}

.item:hover {
    background-color: rgb(250, 250, 250);
}

.item__title {
    padding: 25px;
}

.item__content {
    padding: 25px;
    font-weight: 300;
    color: rgb(99, 99, 99);
    display: none;
}